
                    body {
                background-image: url("https://images.pexels.com/photos/411586/pexels-photo-411586.jpeg?");
                color: rgb(160, 180, 137);
                padding: 10px;
                font-family: arial;
                    }
                    header {
                        font-size: 1.5em;
                        font-weight: bold;
                    }
                    /* #all-contents {
                        max-width: 800px;
                        margin: auto;
                    }
             */
                    /* navigation menu */
                    nav {
                        background: rgb(160, 180, 137);
                        margin: 0 auto;
                        display: flex;
                        padding: 10px;
                        margin-bottom: 20px;
                        border-radius: 30px;
                        }
                        nav header {
                            display: flex;
                            align-items: center;
                            color: rgb(96, 109, 81);
                            flex: 1;
                        }
                        nav ul {
                            list-style-image: none;
                        }
                        nav li {
                            display: inline-block;
                            padding: 0 10px;
                        }
                        nav a {
                            text-decoration: none ;
                            color: #fff;
                        }
                
                        /* main container area beneath menu */
                        main {
                            background-image: url("https://images.pexels.com/photos/411586/pexels-photo-411586.jpeg?");
                            display: flex;
                            border-radius: 30px;
                        }
                        .sidebar {
                            margin-right: 25px;
                            padding: 10px;
                        }
                        .sidebar img {
                            width: 200px;
                            border-radius: 50%;
                        }
                        .content {
                            flex: 1;
                            padding: 15px;
                        }
                        .interests header {
                            font-size: 1.25em;
                        }
                   